@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom css for slider */
.custom-slider .slick-prev:before,
.custom-slider .slick-next:before {
  color: black;
  font-size: 24px;
}

.custom-slider .slick-prev {
  left: -14px;
}
.custom-slider .slick-next {
  right: -10px;
}
.home-slider .slick-list, .home-slider .slick-track, .home-slider .slick-slide > div{
  height: 100%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
